@media only screen and (max-width: 991px) {
	.wsmenu-list {
		overflow: scroll;
		height: 100vh !important;
	}
}
.slickmargin .slick-slide {
	padding: 0 10px;
}
.slickmargin .slick-dots li button:before {
	content: '';
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	background: #d6d6d6;
	opacity: 1;
	border-radius: 50%;
}
.slickmargin .slick-dots li.slick-active button:before {
	background: #869791;
}

/*------------------------------------------*/
/*   Counter Widget
/*------------------------------------------*/

/* Counter Widget */
.counter-widget-container {
	padding: 10px 20px;
}
.counter-widget-container h2 {
	color: black;
	font-family: 'Poppins', Sans-serif;
	font-size: 23px;
	font-weight: 600;
	line-height: 40px;
}
.counter-widget-container span {
	color: var(--storm);
	font-family: 'Heebo', Sans-serif;
	font-size: 5em;
	font-weight: 400;
	line-height: 130px;
}
.counter-widget-container p {
	color: #2a2a2a;
	font-family: 'Poppins', Sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
	margin: 0 12px;
	text-align: center;
}

.text-volt {
	color: #ceff00;
}

/*------------------------------------------*/
/* 		App Feature Section
/*------------------------------------------*/

.appfeature-main-wrapper {
	display: flex;
}
.appfeature-main {
	display: flex;

	justify-content: space-evenly;
}

.appfeature-left {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	/* padding-right: 20px; */
}

.appfeature-right {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	/* padding-left: 20px; */
}

.appfeature-center > img {
	position: relative;
	top: 60px;
	height: 50rem;
	padding: 0;
	margin: 0;
}
.appfeature-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.appfeature-box p {
	text-align: center;
	color: #ffffff;
	font-family: 'Poppins', Sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 27px;
}

.appfeature-box h3 {
	color: white;
	font-family: 'Poppins', Sans-serif;
	font-size: 23px;
	font-weight: 600;
	line-height: 38px;
}

.appfeature-box span {
	padding: 10px 0;
}

/* App Feature Left */

.mock1 {
	bottom: -198px;
	left: 0px;
	height: auto;
	width: 30em;
}

.appfeature-icon {
	color: white;
	font-size: 2rem;
}

/*------------------------------------------*/
/* 		HowItWorks Section
/*------------------------------------------*/

.howitworks-wrapper {
	margin: 200px 0;
}

.howitworks-wrapper {
	text-align: center;
}
/* Test Blocks */

.test-red {
	border: solid red;
}

.test-blue {
	border: solid rgb(8, 4, 231);
}

.test-green {
	border: solid rgb(1, 61, 6);
}

.test-orange {
	border: solid rgb(211, 105, 6);
}

/*------------------------------------------*/
/* 		Stories Section
/*------------------------------------------*/

.stories-wrapper {
	margin: 100px 0;
}

.test {
	padding-top: 180px;

	height: 50vh;
}

.mobile-repair-watermark {
	/* position: relative; */
}

.mobile-repair-watermark h1 {
	font-size: 155px;

	opacity: 0.1;
	color: rgba(0, 0, 0, 0.192);
}

@media (max-width: 980px) {
	.mobile-repair-watermark h1 {
		display: none;
	}
}
